@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amarante&family=Comfortaa:wght@300..700&display=swap');
 /* Importa la fuente Comfortaa desde Google Fonts */
 
body {
  font-family: 'Comfortaa', 'amarante'; /* Aplica la fuente Comfortaa */
  background-color: #A0DFDC; /* Color de fondo general */
  margin: 0;
  padding: 0;
}

header {
  background-color: #F19C99; /* Color rosa del encabezado */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.logo img {
  height: 80px;
  border-radius: 39px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
}

nav ul li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 24px;
}

.logo2 a img {
  width: 50px;
  height: 50px;
  border-radius: 30px;
}

/* Estilos para las tarjetas de paquetes (específicas de paquetes.html y viajeros.html) */
.package-card {
  background-color: #F19C99;
  border: 2px solid black;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
}


.package-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-bottom: 2px solid black;
}

.package-card .card-body {
  padding: 15px;
}

.package-card .card-text {
  margin-bottom: 8px;
}

.package-card .card-text.fw-bold {
  font-size: 1.1em;
  color: black;
}

.package-card .card-text.small {
  font-size: 0.9em;
  color: #555;
  margin-bottom: 15px;
}
.package-card .btn {
  background-color: black;
  color: white;
  border-radius: 20px;
  padding: 10px 15px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.destinos {
  display: grid;   
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 40px; /*gap es una propiedad que se usa para agregar espacio entre contenedores*/
}

.destino {
  background-color: #c0f3f1;
  border: 1px solid #aaa;
  border-radius: 10px;
  padding: 10px 10px;
  text-align: center
}

.destino img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 20px;
}

.destino button {
  background-color: black;
  color: white;
  border: none;
  padding: 5px 15px;
  margin-top: 10px;
  border-radius: 15px;
  cursor: pointer;
}

footer {
  background-color: #f3a9a3;
  text-align: center;
  padding: 10px;
  position: relative;
  bottom: 0;
  width: 100%;
}